# PDB files
*.pdb

# GROMACS output files
*.xtc
*.trr
*.edr
*.cpt
*.gro
*.tpr
*.ndx
*.log
*.xvg
*.top
*.itp

# Temporary files/folders
*~
*.bak
*.swp
.DS_Store
**/__pycache__/
*.ipynb

# venv
venv/

# results
results/

*.py
